body {
    background-image: url("./img/oriental-tiles.png");
}
h1 {
   font-size: 50px;
   color: rgb(255, 255, 255);
   text-align: center;
   text-shadow: 2px 2px #dddddd;
   
}
h2 {
    
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    position: static;
    white-space: nowrap;

}

input::placeholder {
    font-weight: bold;
    opacity: .5;
    color: navy;
}

.placeholder {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #efefef;
    margin: 0 auto;
    margin-bottom: 2px;
    border-style: solid;
    border-color: #444444;
    font-size: large;
    color: navy;
    }
.list{
    padding: 0;
}

p{
    background-color: rgba(240, 240, 240, 80%);
    font-size: 28px;
    color: navy;
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

